.about-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.about-container section{
    width: 80%;
    padding: 1%;
}

.about-container section title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-container section title h1{
    color: #3d3b3b;
}

.about-container section aside{
    width: 100%;
}

.about-container section aside p{
    display: flex;
    font-size: 18px;
    padding-top: 5%;
    color: rgb(131, 131, 134); 
    font-weight: 300;
}